body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #b2c8eb;
  line-height: 1.8;
}

.page-header__logo {
display: block;
margin-left: auto;
margin-right: auto;
padding: 25px;
max-width: 100%;
}

.pokeText {
  text-align: center;
  padding: 10px;
  line-height: 3;
}

.pokemon-list {
  list-style-type: none;
}

.pokemon-list li {
  margin: 5px;
}

.button-class {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#FFCB05;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:12px 37px;
  margin:12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button-class:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.button-class:active {
	position:relative;
	top:1px;
}


@media (max-width: 900px) { body {
  font-size: 14px; }

}

@media (max-width: 600px) { body {
  font-size: 12px; }
}
