body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #b2c8eb;
  line-height: 1.8;
}

.page-header__logo {
display: block;
margin-left: auto;
margin-right: auto;
padding: 25px;
max-width: 100%;
}

.pokeText {
  text-align: center;
  padding: 10px;
  line-height: 3;
}

@media (max-width: 900px) {
  body {
    font-size: 14px; }
  }

@media (max-width: 600px) {
  body {
    font-size: 12px; }
}
